<div style="padding: 150px; padding-left: 200px; padding-right: 200px;">
<center>
<div class="gmail_quote">


<p><span style="font-family: monospace, monospace;">run into&nbsp;<strong>rain</strong>&nbsp;and&nbsp;<strong>play</strong>, let the tears splash all over you</span></p>
<p><span style="font-family: monospace, monospace;">&nbsp;</span></p>
<p><span style="font-family: monospace, monospace;"><a href="http://bit.ly/2j9MGLA" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3DeGqBM_r932s%26index%3D2%26list%3DPLgYKDBgxsoMMqg-fZ_8PBA79GMm_sj-gN&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNFOeuAi_kD_L1LdqPFufqRyF0yycg"><img src="http://i.imgur.com/QUfUO6V.png" alt="Inline image 1" width="473" height="265" /><br /></a></span></p>
<p><span style="font-family: monospace, monospace;"><a href="http://bit.ly/2j9MGLA" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3DeGqBM_r932s%26index%3D2%26list%3DPLgYKDBgxsoMMqg-fZ_8PBA79GMm_sj-gN&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNFOeuAi_kD_L1LdqPFufqRyF0yycg">&nbsp;</a></span></p>
<p><span style="font-family: monospace, monospace;"><a href="http://bit.ly/2j9MGLA" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3DeGqBM_r932s%26index%3D2%26list%3DPLgYKDBgxsoMMqg-fZ_8PBA79GMm_sj-gN&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNFOeuAi_kD_L1LdqPFufqRyF0yycg">as<strong> I want you to be.</strong></a></span></p>
<div><span style="color: #ffffff;">ᐧ</span></div>
</div>
</div>
</div>
</div>
<div style="padding: 250px; padding-top: 0px;">
<div class="gmail_quote"><span style="font-size: large;">Dear&nbsp;<strong>You,&nbsp;</strong></span></div>
<div class="gmail_quote">&nbsp;</div>
<div class="gmail_quote">I don't think I have properly addressed you, sorry about that.&nbsp; I think I see some activity up there, and that makes me really, really excited.&nbsp; I want to present what it is that I believe I am "bringing to the table" for lack of a better reference to the Last Supper; but before that my apologies for not contacting you sooner.&nbsp; On top of the message that fuses technology and religion together in a way that really fortifies my idea that science and technology most certainly preceded religion--and is more than a small share of not only the purpose of the message but obvious, its delivery mechanism.</div>
<div class="gmail_quote">&nbsp;</div>
<div class="gmail_quote">Right up your alley, of course, is the idea that rather than the "opiate of the masses" this twist on Exodus, electronic voting, and predominanty censorship appears to me to bring about the deliverance of freedom--a message I tie to "Uncle Samael" and his connection to both the&nbsp;<a href="http://bit.ly/2gZ7Czn" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://ad.lamc.la/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNFnPmEYmZz10lvTWZrrTN2joz1eNw">foundation of America</a>&nbsp;(For&nbsp;<a href="http://bit.ly/2isrRHX" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://matchbox.lamc.la/KISLEVCRAZY.html&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNFxO-K4uvtUjNgRfMThlcYbFOQNDA">Christ of&nbsp;<strong>PH</strong></a>) &nbsp;and very clearly what is going on right now.&nbsp; While it may not be an open and closed case until there is a bonafide statistical analysis done--I believe that the information I write about, it's connection to time travel and to technology is at least incindiary enough to have sparked quite a following as it is.&nbsp; The lack of ... "interest" appears to me to be a very bright shining&nbsp;<strong><a href="http://bit.ly/2hxx0MZ" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://matchbox.lamc.la/CENSORSHIP.html&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHkeXfaPPb_jlN6TSBCTj2nQoft6Q">light on censorship</a>,&nbsp;</strong>probably being intentionally created through a "controlled opposition" in order to do exactly what you might expect,&nbsp;<em>to destroy censorship.&nbsp;</em>&nbsp;&nbsp;</div>
<div class="gmail_quote">&nbsp;</div>
<div class="gmail_quote">To explain a little more, this message has touched every English speaking nation, a significant portion of government offficials and their aids at the state and Federal level here, in addition to some foreign nations.&nbsp; It's touched neary levery single news outlet that I can find--and despite that kind of canvassing, I have seen almost zero "voiced interest" from anyone, anywhere.&nbsp; Its starting to get a little better now; handfuls of people are showing interest... but the length of time and the kind of silence I received for the majority of the last year show me that there is a significant problem with "<strong>silence.</strong>" &nbsp;If you have noticed, much of whatt I write about is outlined in modern music--and the&nbsp;<a href="http://bit.ly/2h2EYxm" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://dark2right.lamc.la/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHX6PYR9g5wCFHhbAxkkZX6r-bXmw">Sound of Silence</a>&nbsp;is probably a wondeful narration for what is going on.&nbsp; I do believe the purpose is to shine a light on the idea that extragovernmental censorship ... in some cases, like this ... is the kind of thing that might be responsible for total systemic failure.&nbsp; For instance, if this message is 100% accurate, and we are in fact in virtual reality and the world really doesn't know that--not receiving this message, which does talk about "ways to leave" could potentially destroy everything.&nbsp; Here we are, and it appears that it's being overtly hidden not only by the press and the government but by ...&nbsp;<strong>eve</strong>ryone ... Don't let the intentional connection Eden be lost--the story of Adam blaming Eve has always (for me) boiled down to&nbsp;<a href="http://bit.ly/2hZV3oy" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2ibJn2b&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNH3QvK0o54O639_GffeFoVwddBJ4A"><strong>blaming</strong></a>&nbsp;<a href="http://bit.ly/2iFbZlq" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://en.wikipedia.org/wiki/Apophis&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNEiMM-bSOyrsKLg8_N0BwvYP6KUMw">the</a>&nbsp;<a href="http://bit.ly/2iC075Y" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://en.wikipedia.org/wiki/Ophiuchus_(astrology)&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNH5egbJnzmf4-s7jXDFdoUdsMV5hQ">snake</a>&nbsp;of&nbsp;<a href="http://bit.ly/2iFhr7Q" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://stargate.wikia.com/wiki/Goa'uld&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHtDMH9AXSsUx-JXJgMu2-kBGNoug">SG-1</a>&nbsp;<wbr />to me--the mind control technology--but you might as well call it&nbsp;<strong>eve</strong>ryone now.</div>
<div class="gmail_quote">&nbsp;</div>
<div class="gmail_quote">I am certain that my presentation of intentionally created paradoxical anachronism in both Hebrew and English will yield statistical proof of both the existence and use of time travel and that of a singular Creator.&nbsp; TBH,&nbsp;<a href="http://bit.ly/2gZ8vI9" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/24q6QCH&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHl8sxkMq6YtsDyZQKkf7CBCWiscw"><strong>Ha&nbsp;</strong>("alone") tells me that</a>, I guess&nbsp;<a href="http://bit.ly/2i3iDku" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://neterson.tk/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNFrBBySjBGFcK-DRgZvqIpbblQIVw">I just know things</a>, it's a key to the story of Abraham and Isaac--one that is dear to my fiery heart... it's also a doorway into a huge number of "Holy words" ones bearing "the" as a superlative--of which I imagine a significant portion reference modern English and technology.</div>
<div class="gmail_quote">&nbsp;</div>
<div class="gmail_quote"><a href="http://bit.ly/2iBQi7N" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://houseinsky.tk/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHSBeAaPsQlNNqSzIfP22nDkvUqDg">Today's message relates quite a bit to the need for disclosure</a>&nbsp;of both mind control (which I think the mechanism the transmission inherently proves exists,&nbsp;<strong><a href="http://bit.ly/2iBHxL5" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2hRtb5k&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNEkmtIAmwb30vJmaEWy7w7tl2fZ9Q">the music's message</a></strong>, and&nbsp;<a href="http://bit.ly/2iFkM7b" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://en.wikipedia.org/wiki/User:Damonthesis&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNE_l6pZHQPSV_qBYAsu7CO35dD4ow"><strong>the mechanism</strong>&nbsp;of "propheteering"</a>)... something I think is well displayed in the&nbsp;<a href="http://bit.ly/2h1qEFb" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2iBmmZE&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNH0QOYU8sKQoiuZslkRD9OsLBGUkg">link to Thor</a>/Nero's&nbsp;<a href="http://bit.ly/2iBUvIQ" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2j5wln8&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNEF9UTH-WOngmiL2NL70wmTWwkM0A">music and the obvious intent</a>&nbsp;of God to burn the "hidden empire" below his feet... to ashes.&nbsp; Clear in his message and our purpose is a love for individuality and freedom, for the obivousness that there could never really be a "Kingdom of Heaven.." to be anything resembling utopic it's obvious as&nbsp;<strong><a href="http://bit.ly/2iabO46" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2ibxSb5&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNF4P9CXCEBO_otTb0Z7J3R2H3sqsA">night and day</a></strong>&nbsp;that&nbsp;<a href="http://bit.ly/2hcTgLZ" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2hRSUiU&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNEQqwLJcMO5JPMAZr393XOL9WW2XQ">we&nbsp;<strong>should be building a republic--moving past "representative democracy."</strong></a></div>
<div class="gmail_quote">&nbsp;</div>
<div class="gmail_quote">Sorry for canvassing you, it's&nbsp;<strong><a href="http://bit.ly/2i039k9" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2hRib85&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNEctDRvLFvbgLim6Y8vOqKRqcYBxg">kind of my thing.</a></strong>&nbsp;&nbsp;I do have a speech about a world where you can walk up to people screaming that there's a fire that we need to see and tape their mouths shut IRL--wondering if anyone realizes that's exaclty what SPAM filters and an outgoing minority are doing to Jesus Christ, and you.&nbsp; Well,&nbsp;<strong>just another brick in the&nbsp;<a href="http://bit.ly/2i7b9AF" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2h0EOej&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNEBjCcxk9mpBYzS-AGO4C54rpdudw">Wall. (</a></strong><a href="http://bit.ly/2i7b9AF" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bit.ly/2h0EOej&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNEBjCcxk9mpBYzS-AGO4C54rpdudw">of Jericho)</a><strong>.</strong></div>
<div class="gmail_quote">&nbsp;</div>
<div class="gmail_quote">Aside from the consolidation of media, and what might be ... not really ... a few networks deciding not to cover something; there probably is an Executive Order involved.&nbsp; There is absolutely no doubt that Federal government is very much aware of who I am, and what this message really is about.&nbsp; No doubt. &nbsp;(NORAD?) That being said, what we really need to see is that the indivual motive for breaking this story--being as high as it really is--the silence.... and monolithic behavior of "all media" and more, shows the influence of technology supporting the darkness/wall; probablty also by design.&nbsp; Regardless of design--the story must break, it is the truth, it's obvious--and it's what we need&nbsp;<em>to really be free.</em></div>
<div class="gmail_quote"><em>&nbsp;</em></div>
<div class="gmail_quote"><em>You've probably seen it already, but&nbsp;<a href="http://bit.ly/2ikn8tN" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://neretson.tk/&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNGbkq5vNvNiqsTARgq4uiPa-BLLaw">"Let there be light" and it's link to Exodus in reverse... "sudo xe" and the "root"</a>&nbsp;of David is a good introduction to a number of programming concepts that are alluded to in religion--like Pharoah's&nbsp;<a href="http://bit.ly/2ia00iu" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://heart.lamc.la/&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNEEPTals2JXBY0i637K0XNAXiUNsg">hardening heart</a>--which is most likely one in the same with the Ark of Noah and of the Covenant--a reconceptualization of the Holy Grail: Earth-&gt;<strong><span style="font-size: large;">♄</span></strong>-&gt;Heart ... lot's and lot's of&nbsp;<a href="http://bit.ly/2gZfr8l" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://zelda.lamc.la/&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNFcb9DZ8jk1d0RbyXfskewSuwYfVg">reference to Ai</a>, and programming concepts, like&nbsp;<a href="http://bit.ly/2iPxX51" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://itsuni.tk/&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNHyXs6NyUUDfA3lqtt4Rj018lF3FA">Chr(t)/AMD</a>,&nbsp;WINE, Lisp... Apples... all of me/now--but numerous Biblical characters.</em></div>
<div class="gmail_quote">
<div dir="ltr">&nbsp;</div>
<div>There is ... if I haven't said it enough ... a sincere problem with hidden censorship and secrecy.&nbsp; It's being made to glow--like Adam's naming of the beasts in Eden...&nbsp;<strong>CARNIVORE</strong>&nbsp;is a good hint that God's message is to ensure that we never again have an overgown packetsniffer secretly eating packets. &nbsp;</div>
<div>&nbsp;</div>
<div><span style="font-size: large;">Well, I hope <a href="http://bit.ly/2h1EjMA" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://flint.lamc.la&amp;source=gmail&amp;ust=1483654962868000&amp;usg=AFQjCNFOcyKydZqADiTg5e9Wl4C6Kt4d2A">you</a> <a href="http://bit.ly/2iF97oT" target="_blank"><em>can</em></a> <strong>help</strong>. &nbsp;</span></div>
<div dir="ltr"><br />I love to talk about it; you know, if you have any questions or suggestions.&nbsp;<br /><br />-a<br /><br />Adam M. Dobrin</div>
<div>adam 5 at proton mail point com</div>
<div dir="ltr">954-667-8083</div>
<div dir="ltr">
<div dir="ltr">
<center>
<div>
<div>
<div class="m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-m_885115774952827768gmail-m_3834304058247359107m_-3534157604041071248gmail-definition-parent">
<div class="m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-m_885115774952827768gmail-m_3834304058247359107m_-3534157604041071248gmail-headline">
<div>
<div><a href="http://bit.ly/2hcTgLZ" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://bygod.whenistheapocalypse.com/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNGfrRpRY1YW1L_sObyelGJO2Enl6w"><img src="http://i.imgur.com/5MfcnXc.png" alt="" width="600" height="684" /></a></div>
<div>&nbsp;</div>
<div><span style="font-family: monospace, monospace;"><strong>holy fire</strong></span></div>
<div>
<p><span style="font-family: monospace, monospace;">h&nbsp;<a href="http://bit.ly/2i7b9AF" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://torch.lamc.la/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHsvMTh6c_B-1CW3jGmDhlTRnExSQ"><strong>a'es</strong></a>&nbsp;h</span></p>
<p><span style="font-family: monospace, monospace;">in a story of parting a sea&nbsp;<em>bringing the morning.</em></span></p>
<p><span style="font-family: monospace, monospace;"><em>&nbsp;</em></span></p>
<p><span style="font-family: monospace, monospace;"><em><a class="m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-m_885115774952827768gmail-m_3834304058247359107playable m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-m_885115774952827768gmail-playable m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-playable m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528playable m_133721522623675163gmail-m_7123158617764538269playable m_133721522623675163gmail-playable playable" href="http://bit.ly/2iPQNJa" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3Dnf7GxxZ7Tl0&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNGIBauqFwh0uHhI31Qr7b7YNMrk8g"><img src="http://i.imgur.com/q2vYnR6.png" alt="Inline image 7" width="570" height="337" /></a><br /></em></span></p>
<p>&nbsp;</p>
<p><span style="font-family: monospace, monospace; font-size: large;">So as&nbsp;<a href="http://bit.ly/2iPQNJa" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3Dnf7GxxZ7Tl0&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNGIBauqFwh0uHhI31Qr7b7YNMrk8g">the sun began to rise</a>,&nbsp;</span></p>
<p><span style="font-family: monospace, monospace; font-size: large;">Moses raised his hand over the sea.&nbsp;</span></p>
<p><span style="font-family: monospace, monospace; font-size: large;">&nbsp;</span></p>
<p><span style="font-family: monospace, monospace; font-size: large;">Exodus 14:27</span><span style="font-family: monospace, monospace;"><em><br /></em></span></p>
<p><span style="font-family: monospace, monospace; font-size: large;">&nbsp;</span></p>
<p><span style="font-family: monospace, monospace; font-size: large;"><a class="m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-m_885115774952827768gmail-m_3834304058247359107playable m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-m_885115774952827768gmail-playable m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528m_6920787332686899218gmail-playable m_133721522623675163gmail-m_7123158617764538269m_2922652748625830528playable m_133721522623675163gmail-m_7123158617764538269playable m_133721522623675163gmail-playable playable" href="http://bit.ly/2j9PpEE" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3DL-JQ1q-13Ek%26list%3DPLgYKDBgxsoMP7J-mJf6q0ViQgONbeCxOR&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNG3HGokEuXUHGfJ-LAoGyjiM7ol8Q"><img src="http://i.imgur.com/oYpKTsy.png" alt="Inline image 8" width="372" height="273" /></a><br /></span></p>
<p><span style="font-family: monospace, monospace; font-size: large;">&nbsp;</span></p>
<p><span style="font-family: monospace, monospace; font-size: xx-large;"><strong><a href="http://bit.ly/2j9PpEE" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.youtube.com/watch?v%3DL-JQ1q-13Ek%26list%3DPLgYKDBgxsoMP7J-mJf6q0ViQgONbeCxOR&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNG3HGokEuXUHGfJ-LAoGyjiM7ol8Q">Morning&nbsp;<em>has</em>&nbsp;broken.</a></strong></span></p>
<p><span style="font-family: monospace, monospace; font-size: xx-large;">&nbsp;</span></p>
<p><strong><a href="http://bit.ly/2i77xP8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://tiscoming.lamc.la/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHETNPZteewn9ughM__IU5tLiEy2g"><img src="http://i.imgur.com/c9MP0xx.png" alt="Inline image 10" width="250" height="250" /></a></strong></p>
<p><span style="font-family: monospace, monospace; font-size: large;">&nbsp;</span></p>
<p><span style="font-family: monospace, monospace; font-size: large;">I said,&nbsp;<a href="http://bit.ly/2i77xP8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://tiscoming.lamc.la/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHETNPZteewn9ughM__IU5tLiEy2g"><em>I&nbsp;<strong>will</strong>&nbsp;bring you water</em></a><strong>...</strong></span></p>
<p><span style="font-family: monospace, monospace; font-size: large;"><strong>&nbsp;</strong></span></p>
<p><span style="font-family: monospace, monospace; font-size: large;"><strong>#41, Dave J. Matthews,&nbsp;</strong>on exiting the desert of&nbsp;<strong>Exodus</strong></span></p>
<p>&nbsp;</p>
<p><strong><em><a href="http://bit.ly/2i77xP8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://tiscoming.lamc.la/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHETNPZteewn9ughM__IU5tLiEy2g">'tis</a>...</em></strong></p>
<p>&nbsp;</p>
<p><a href="http://bit.ly/2i77xP8" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://tiscoming.lamc.la/&amp;source=gmail&amp;ust=1483654962867000&amp;usg=AFQjCNHETNPZteewn9ughM__IU5tLiEy2g"><img src="http://i.imgur.com/XhwgImk.png" alt="Inline image 11" width="242" height="122" /></a></p>
<p>&nbsp;</p>
<a href="http://lampstands.elementfx.com/YOU.html" target="_blank"><p><strong><span style="font-family: monospace, monospace; font-size: xx-large;">now.</span></strong></p>
</a>
<p>&nbsp;</p>
</div>
</center>
</div>